@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #04334C;
  --accent-hover: #03283A;
  --accent-dark: #FFFFFF;
  --accent-2: #04ADBD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --font-sans: var(--font-nunito-sans);
  --font-heading: var(--font-play);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-play), sans-serif;
  font-weight: 700;
  color: var(--accent);
}

footer h3{
  font-family: var(--font-play), sans-serif;
  font-weight: 700;
  color: var(--accent-dark);
}
/* Global accent color utilities */
    .text-accent {
      color: var(--accent);
    }


.text-accent-2 {
  color: var(--accent-dark);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-2 {
  background-color: var(--accent-2);
}

.border-accent {
  border-color: var(--accent);
}

.hover\:text-accent-hover:hover {
  color: var(--accent-hover);
}

.hover\:bg-accent-hover:hover {
  background-color: var(--accent-hover);
}


.dark-section h1,
.dark-section h2,
.dark-section h3 {
  color: var(--accent-dark);
}

nav a.text-accent {
  color: var(--accent-2);
}

nav a:hover {
  color: var(--accent-2);
}

nav button.text-accent {
  color: var(--accent-2);
}

nav button:hover {
  color: var(--accent-2);
}